*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

body{
   min-width: 1200px;
    max-width: 1920px;
	font-family: "맑은 고딕", sans-serif;
	font-size: 12px;
	color: #444;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #444;
}
hr{
    width: 2000px;
    color: #444;
}
#page{
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1920px;
     
}
header{
    position: relative;
    width: 1200px;
    height: 120px;
    
/*    background: #ccc*/
}
header #logo{
	margin-left: 440px;
    padding-top:30px;
}
header #logo img{
    width: 270px;
}
header #find{
  position: absolute;
    left: 950px; top: 50px;
}
header #find input{
    height: 34px;
    border: 2px solid #0c80ec;
}
header #find button{
    border: 2px solid #0c80ec;
    color: #0c80ec;
    font-size: 15px;
    width: 50px;
    height: 28px;
    background: none;
}
.main_menu{
    width: 1200px;
    background:#057ec7;
    height: 70px;
    width: 100%;
}
.main_menu ul{
    width: 1200px;
}


.main_menu ul li{
    
    display: inline-block;
    font-size: 1.5em;
    margin: 20px;
    padding-right: 60px;
   
}
.main_menu ul li a:hover{
    color: yellow;
}
.main_menu ul li:first-child{
    margin-left: 150px;
}
.main_menu ul a{
    text-decoration: none;
    color: white;
    
}
#sub_menu{
    width: 100%;
    margin-bottom: 50px;
    background: #9bcce8;
}
#sub_menu .submenu2{
    width: 1200px;
}
#sub_menu ul{
    width: 1200px;
}
#sub_menu ul:first-child{
    margin-left: 175px;
}
#sub_menu ul li{
    display: inline-block;
    padding: 0px 30px 30px 40px;
    font-family: 'Nanum Gothic', sans-serif;
}
#sub_menu a:hover{
    color: yellow;
}

#sub_menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#sub_menu ul .icon3{
  position: relative;
  top: 20px; left: 0;
}

#contents{
    max-width:1050px;
    margin: 0 auto;
    height: 350px;
}
#contents> ul{
    margin-right: 20px;
}
#contents> ul> li{
    list-style: none;
}

#info{
    position: relative;
    line-height: 2em;
    padding-right: 130px;
    float: left;
    padding-bottom: 50px;
}
#info li{
    clear: both;
    display: block;
    line-height: 2.3;
}

#info h2{
    font-size: 20px;
    padding-bottom: 50px;

}
#info h2 a:hover{
   color:  dodgerblue;
}

#info .subject{
  float: left;
}
#info .date{
    float: right;
}

.nav{
    margin:10px;
       }
.RollDiv{
    margin:0 auto;
    width:935px;
    height:60px;
    overflow:hidden;
       }  
.RollDiv > div{
    overflow:hidden;
    height:60px;
    width:1200px
       }
.RollDiv > div > a{ 
        float:left;
        display:block;
       }  
.RollDiv > div > a > img{
        width:180px;
        height:60px;
        margin-right:10px;
       }

.bn_wrap{
    position:relative;
    margin:0 auto;
    width:985px;
       }
.btn_left{
    position:absolute;
    left:0;
    bottom:0;
    height:100%;
    width:25px;
    padding-top: 10px;

}
.btn_left> button{
    background: #444;
    font-size: 15px;
    color: ghostwhite;
    padding: 5px;
}
.btn_right{
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:25px;
    padding-top: 10px;
       }
.btn_right> button{
    padding: 5px;
    background: #444;
    font-size: 15px;
    color: ghostwhite;
}
.s_contents2{
color: darkslateblue;
}
.newsbox{
    position: relative;
}
.news_select{
   position: absolute;
    right: 120px; top:-40px;
}
.news_select select{
   width: 200px;
    height: 20px;
    outline: none;
}
.news_select button{
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
    left: 210px; top: -5px;
    font-size: 2px;
    font-weight: bold;

  
}
.sns_icon{
    position: absolute;
    right:270px; top: 53px;
}

.sns_icon img{
    width: 28px;
}


footer{
    max-width: 1920px;
    min-width: 1200px;
    height: 270px;
    text-align: center;
    background-color: #efefef
}
.footer_menu1 p{
    padding: 30px;
}

footer #select{
    padding:10px 0 10px 0;
}

footer #select select{
  height: 35px;
}
footer button img{
    width: 35px;
}

.f_1 .blue{
    color: blue;
    font-weight: bold;
}

#back{
   background: #b7d9ef;
}

  #slider{  
            position: relative;
            width: 1000px;
            overflow: hidden;
            height: 400px;
        }
        #slider > .sliders{
            position: relative;
            width: 400%;/*100%(배너 폭)x 이미지 장수*/
            margin-left: -0%;
        }
        #slider > .sliders > img{
            float: left;
            width: 25%;
        }
#slider2{  
            width: 460px;
            overflow: hidden;
            height: 134px;
    margin-left: -10px;
    margin-top: 20px;
        }
        #slider2 > .sliders2{
            position: relative;
            width: 400%;/*100%(배너 폭)x 이미지 장수*/
            margin-left: -0%;
        }
        #slider2 > .sliders2 > img{
            float: left;
            width: 25%;
        }

.bx-wrapper{
    border: none!important;
}
.bx-viewport{
    border: none!important;
}

 